label {
  font-weight: 600;
  font-size: 0.9em;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a,
.comment-links ul li a,
.mediadrive-simple-button {
  -webkit-appearance: none;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid;
  border-color: #BBBBBB;
  font: bold 0.85em;
  padding: 0.6em;
  background: #DFDFDF url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #DFDFDF));
  background: -moz-linear-gradient(top center, #FEFEFE 0%, #DFDFDF 100%);
}

.form-actions input:hover,
.node-links ul li a:hover,
.comment-links ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #DFDFDF));
  background: -moz-linear-gradient(top center, #FEFEFE 0%, #DFDFDF 100%);
}

.form-submit + .form-submit {
  margin-left: 1em;
}

textarea,
select,
input[type="date"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075) inset;
  border-radius: 0.2em;
  border-color: #BBBBBB;
  font-family: inherit;
  padding: 0.5em;
  font-size: inherit;
  height: 2.4em;
  font-weight: normal;
}

textarea:focus,
input[type="date"]:focus,
input[type="file"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #2683B8;
}

textarea[disabled].mediadrive-tos {
  background: none;
  color: inherit;
}

html.js input.form-autocomplete {
  background-position: 100% 0.75em;
}

html.js input.throbbing {
  background-position: 100% -0.95em;
}

fieldset.mediadrive-fieldset,
fieldset.mediadrive-fieldset.mediadrive-fieldset-noplus .fieldset-wrapper {
  border: 1px solid;
  border-color: #E6E8EB;
  border-radius: 0.5em;
  padding: 2em 1em 1em 1em;
  position: relative;
}

fieldset.mediadrive-fieldset.mediadrive-fieldset-noplus .fieldset-wrapper {
  padding-top: 1em;
}

fieldset.mediadrive-fieldset legend {
  position: absolute;
  top: 0em;
  left: 0;
}

fieldset.mediadrive-fieldset.collapsed legend {
  position: relative;
  top: 0em;
  left: 0;
}

html.js fieldset.collapsible.mediadrive-fieldset .fieldset-legend {
  background: none;
  padding: 0;
}

html.js fieldset.collapsible.mediadrive-fieldset .fieldset-legend,
html.js fieldset.collapsible.mediadrive-fieldset.collapsed .fieldset-legend {
  line-height: 32px;
  background-repeat: no-repeat;
}

html.js fieldset.collapsible.mediadrive-fieldset .fieldset-legend .fieldset-title,
html.js fieldset.collapsible.mediadrive-fieldset.collapsed .fieldset-legend .fieldset-title {
  padding-left: 2.5em;
}

html.js fieldset.collapsible.mediadrive-fieldset .fieldset-legend {
  background-image: url('../images/fieldset-minus.png');
}

html.js fieldset.collapsible.mediadrive-fieldset.collapsed .fieldset-legend  {
  background-image: url('../images/fieldset-plus.png');
}

fieldset.mediadrive-fieldset.mediadrive-fieldset-noplus legend {
  position: relative;
}

fieldset.mediadrive-fieldset .fieldset-legend {
  font-size: 1.2em;
  font-weight: 400;
}

fieldset.mediadrive-fieldset .fieldset-title {
  color: inherit;
}

fieldset.mediadrive-fieldset.mediadrive-fieldset-noplus,
fieldset.mediadrive-fieldset.collapsed {
  border: none;
  padding: 0;
  height: auto !important;
}

fieldset.mediadrive-fieldset.mediadrive-fieldset-noplus .fieldset-wrapper {
  border-radius: 0.2em;
}

fieldset.mediadrive-fieldset.mediadrive-fieldset-noplus .fieldset-legend {
  font-size: inherit;
}

button.mediadrive-upload-button,
input[type="reset"].mediadrive-upload-button,
input[type="submit"].mediadrive-upload-button,
input[type="button"].mediadrive-upload-button,
.node-links ul li a.mediadrive-upload-button,
.comment-links ul li a.mediadrive-upload-button,
.mediadrive-upload a.mediadrive-upload-link {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 3em;
  color: #fff;
  border-color: #005989;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2582B6), color-stop(1, #005989));
  background: -moz-linear-gradient(top center, #2582B6 0%, #005989 100%);
  background: url("../images/upload-arrow.png") 0.5em center, -webkit-gradient(linear, left top, left bottom, color-stop(0, #2582B6), color-stop(1, #005989));
  background: url("../images/upload-arrow.png") 0.5em center, linear-gradient(to bottom, #2582B6, #005989) left top;
  background-repeat: no-repeat, repeat;
  text-shadow: 0 1px 1px #000;
}

.mediadrive-upload a.mediadrive-upload-link {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  margin-top: 1.5em;
}

button.mediadrive-text-button,
input[type="reset"].mediadrive-text-button,
input[type="submit"].mediadrive-text-button,
input[type="button"].mediadrive-text-button,
.node-links ul li a.mediadrive-text-button,
.comment-links ul li a.mediadrive-text-button {
  border: 0;
  background: none;
  font-weight: normal;
  color: #2683B8;
}

ul.mediadrive-item-navigation,
ol.mediadrive-item-navigation {
  padding: 0;
  text-align: right;
}

.mediadrive-item-navigation li {
  display: inline;
  list-style: none;
}

.mediadrive-item-navigation.mediadrive-align-navigation-with-title {
  margin-top: -4em;
}

.mediadrive-item-navigation a {
  color: inherit;
  font-weight: 600;
}

/* Views filters for assets */

.region-preface-third .block-views-exp-mediamosa-assets-page form {
  float: right;
}

.block-views-exp-mediamosa-assets-page form select {
  font-weight: 500;
  font-size: 0.85em;
  height: 2.9em;
  padding-right: 1.5em;
}

.block-views-exp-mediamosa-assets-page form label {
  font-style: italic;
  font-size: 0.85em;
  font-weight: 300;
}

/*
Bulk upload bootstrap overrides
*/

.btn, .btn:hover {
  color: #000;
  -webkit-appearance: none;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid;
  border-color: #BBBBBB;
  font: 0.85em;
  font-weight: 300;
  padding: 0.6em;
  background: #DFDFDF url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #DFDFDF));
  background: -moz-linear-gradient(top center, #FEFEFE 0%, #DFDFDF 100%);
}

/*
Temporary theming for still selection form
*/
#mediadrive-still-selection-asset-still-form .form-item.form-type-radio {
  float: left;
  margin-right: 1.5em;
  border: 5px solid #E6E8EB;
  background-color: #ECECEC;
}

#mediadrive-still-selection-asset-still-form .form-item.form-type-radio.radio-checked {
  border-color: #0062A0;
}

#mediadrive-still-selection-asset-still-form .form-item input.form-radio {
  display: none;
}

#mediadrive-still-selection-asset-still-form .form-item label img {
  width: 200px;
  cursor: pointer;
}

#mediadrive-still-selection-asset-still-form input.form-submit {
  clear: both;
}

#mediadrive-still-selection-asset-still-form .form-item #still_time,
#mediadrive-still-selection-asset-still-form .form-item #still_size,
#mediadrive-still-selection-asset-still-form .form-item #filesize {
  margin-left: 0.5em;
}
