/*
 * General styles that apply on all sizes, use for colors and small screens layout
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #525252;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  color: #005989;
  letter-spacing: 0.02em;
  font-weight: 400;
}

a {
  color: #2683B8;
}

a:visited,
a:link {
  text-decoration: none;
}

ul,
ol {
  padding-left: 1.5em;
}

ul.list-no-decoration,
ol.list-no-decoration {
  padding-left: 0;
}

ul.list-no-decoration li,
ol.list-no-decoration li {
  list-style: none;
}

li a.active,
a:hover {
  color: #535353;
}

.section-header {
  background-image: url("../images/striped-border.png");
  background-repeat: repeat-x;
  padding-top: 10px;
}

.zone-header {
  padding-bottom: 3em;
}

.zone-footer {
  padding-top: 0.5em;
  margin-top: 3em;
  border-top: 1px solid #DEDEDE;
}

.block-block-1 {
  margin: 1em 0 1em 0;
}

.block-block-1 p {
  margin: 0;
}

.block-menu ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

.block-main-menu .menu {
  text-transform: uppercase;
  font-weight: 600;
}

.block-main-menu ul li.leaf {
  margin-bottom: 0.75em;
}

.block-main-menu a {
  padding: 0 0.65em 0.35em 0.65em;
}

.block-main-menu a.active {
  border-bottom: 0.6em solid;
  border-color: #EEEEEE;
}

.block-user-menu .menu {
  font-size: 0.9em;
  font-weight: 400;
}

.block-user-menu .menu .username {
  font-weight: 900;
}

.block-search-form .content {
  padding: 0.5em;
  background-color: #EEEEEE;
  border-radius: 0.75em;
}

.block-search-form form {
  text-align: left;
}

.block-search-form input[type="text"] {
  width: 100%;
}

.block-search-form .form-item {
  width: 100%;
}

.block-search-form .form-actions {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.block-search-form .form-item,
.block-search-form .form-actions {
  margin: 0;
  padding: 0;
}

.block-search-form input[type="submit"] {
  margin-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #CCCCCC;
  text-indent: -9999em;
  width:2.6em;
  height:2.6em;
  padding: 0;
  background: url("../images/search.png") center no-repeat #DFDFDF;
  background: url("../images/search.png"), linear-gradient(to bottom, #FEFEFE, #DFDFDF);
  background-position: center, top;
  background-repeat: no-repeat, repeat;
}

.block-search-form input[type="submit"]:hover {
  background: url("../images/search.png") center no-repeat #DFDFDF;
  background: url("../images/search.png"), linear-gradient(to bottom, #FEFEFE, #DFDFDF);
  background-position: center, top;
  background-repeat: no-repeat, repeat;
}

.zone-content-wrapper {
  margin-top: 1.25em;
}

.region-footer-second .block-powered-by-mediamosa small {
  font-size: 0.85em;
  color: #A5A3A3;
  margin-left: 4em;
}

ul.primary {
  margin-bottom: 2em;
}

/* Assets tile styles */
.view-mediamosa-assets .views-row,
.view-mediadrive-asset-tags .views-row,
.view-mediamosa-assets-in-collection .views-row,
.view-mediamosa-asset-search-page .views-row {
  float: left;
  padding: 1em;
  background-color: #EEEEEE;
  margin-right: 1.5em;
  /*margin-right: 1.5em;*/
  margin-right: 3.75em;
  margin-bottom: 1.5em;
  border-radius: 0.25em;
  box-shadow: 1px 1px 1px #E6E6E6;
  position: relative;
}

.views-row .mediadrive-asset-hover-wrapper {
  display: none;
  background-image: url('../images/asset-icon-film.png');
  background-repeat: no-repeat;
  background-position: 0.85em 1em;
  transition: display 2s;
  -webkit-transition: display 2s;
}

.views-row .mediadrive-asset-hover-wrapper .mediadrive-asset-hover {
  padding: 0.5em 0.5em 0.5em 2.5em;
  color: #fff;
}

.views-row .mediadrive-asset-hover-wrapper .mediadrive-asset-hover a {
  color: #fff;
}

.views-row .mediadrive-asset-hover-wrapper .mediadrive-asset-title {
  font-weight: 900;
}

.views-row .mediadrive-asset-hover-wrapper .mediadrive-asset-duration {
  font-weight: 300;
}

.views-row .mediadrive-asset-hover-wrapper .mediadrive-asset-small {
  font-size: 0.85em;
  color: #707070;
}

.views-row .mediadrive-asset-hover-wrapper .mediadrive-asset-edit {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.views-row:hover .mediadrive-asset-hover-wrapper {
  display: block;
  background-color: #262626;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: display 2s;
  -webkit-transition: display 2s;
}

.view-mediamosa-assets .views-row.views-row-last,
.view-mediamosa-assets-in-collection .views-row.views-row-last,
.view-mediamosa-asset-search-page .views-row.views-row-last {
  clear: right;
}

.views-exposed-widgets {
  margin-bottom: 1.5em;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}

/* Pager */

.item-list .pager {
  background-color: transparent;
  border: 0;
  text-align: center;
}

.item-list .pager li,
.item-list .pager ul li {
  float: none;
  border: 0;
}

.pager li {
  margin: 0.25em !important;
}

.pager a,
.pager li.pager-current {
  width: auto !important;
  padding: 0.85em !important;
}

.pager li.pager-next,
.pager li.pager-last {
  position: relative;
  right:0;
}

.pager .pager-item a,
.pager .pager-next a,
.pager .pager-last a,
.pager .pager-previous a,
.pager .pager-first a,
.pager .pager-current a {
  border: 1px solid #CECECE !important;
  border-radius: 0.2em !important;
  border-bottom-left-radius: 0.2em !important;
  border-bottom-right-radius: 0.2em !important;
  border-top-left-radius: 0.2em !important;
  border-top-right-radius: 0.2em !important;
  position: relative !important;
  right: 0 !important;
}

.pager .pager-ellipsis {
  border: 0;
}

/* Single asset page */

.mediadrive-asset .asset-section-title {
  font-size: 1.35em;
  font-weight: 600;
  color: #525252;
  margin-bottom: 0;
}

.mediadrive-asset .asset-section {
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
}

.mediadrive-asset .asset-section:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.mediadrive-asset .asset-section-title,
.mediadrive-asset .asset-subsection {
  margin-bottom: 1em;
}

.mediadrive-asset .asset-subsection:last-child {
  margin-bottom: 0;
}

.mediadrive-asset .asset-subsection-title {
  font-size: 1em;
  font-weight: 600;
  color: #525252;
  margin-bottom: 0;
}

.mediadrive-asset .asset-subsection-value {
  margin-bottom: 0;
}

.mediadrive-asset .views .asset-subsection-value {
  text-align: right;
}

.mediadrive-asset .views .asset-subsection-value .view-number {
  font-size: 1.85em;
  padding-left: 0.7em;
  background: url('../images/views-icon.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.mediadrive-asset .views .asset-subsection-value .view-suffix {
  font-size: 1.5em;
}

.mediadrive-asset .embed-code textarea {
  min-height: 7em;
}

.mediadrive-asset .transcoding-widget .asset-transcode-progress-wrapper {
  width: 100%;
  background-color: #eee;
  height: 2em;
}

.mediadrive-asset .transcoding-widget .asset-transcode-progress {
  float: left;
  content: '';
  height: 2em;
  text-align: right;
}

.mediadrive-asset .transcoding-widget .asset-transcode-progress.incomplete {
  background-color: #C7C7C7;
  background-image: url('../images/progress-bar.png');
  background-repeat: repeat-x;
}

.mediadrive-asset .transcoding-widget .asset-transcode-legend {
  padding: 0.25em;
  height: 2em;
  font-style: italic;
}

.mediadrive-asset .transcoding-widget .asset-transcode-id,
.mediadrive-asset .transcoding-widget .asset-transcode-legend {
  font-size: 0.9em;
}

.asset-information {
  width: 300px;
}
