/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


.block-logo,
.block-main-menu {
  display: inline-block;
  width: auto;
}

.block-logo {
  margin: 0;
  margin-right:1.5em;
}

.block-main-menu ul li.leaf {
  margin-bottom: 0.35em;
}

/* Single asset page */
.mediadrive-asset .column-wrapper {
  width: 50%;
  float: left;
}

.mediadrive-asset .first-column {
  padding-right: 3em;
}

