/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */

.block-logo {
  margin: 0 0 1em 0;
}

.block-main-menu ul li.leaf {
  display: inline;
  display: inline-block;
  width: auto;
}

.region-user-second .block-user-menu {
  margin-bottom: 1.5em;
}

.block-user-menu .content {
  text-align: right;
}

.block-user-menu ul {
  width: auto;
  display: inline;
  display: inline-block;
}

.block-user-menu ul li.leaf {
  text-align: right;
  display: inline;
  display: inline-block;
  width: auto;
}

.region-header-second .block-search-form .content {
  text-align: right;
}

.region-footer-second .block-powered-by-mediamosa,
.region-footer-second .block-menu-footer {
  display: inline;
  display: inline-block;
}

.region-footer-second .block-powered-by-mediamosa {
  width: 25%;
}

.region-footer-second .block-menu-footer {
  width: 75%;
  text-align: right;
}

.region-footer-second .block-menu-footer ul {
  width: auto;
  display: inline;
  display: inline-block;
}

.region-footer-second .block-menu-footer ul li.leaf {
  text-align: right;
  display: inline;
  display: inline-block;
  width: auto;
}

.region-footer-second .block-menu-footer ul li.leaf a {
  padding-right: 1.2em;
  border-right: 1px solid #DEDEDE;
}

.region-footer-second .block-menu-footer ul li.leaf:last-child a {
  padding-right: 0;
  border-right: 0;
}
